@font-face {
  font-family: "Vazir";
  src: url("../font/Vazir.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
}

body {
  background-color: #2c3e50;
  color: #000;
  text-align: center;
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
}

.info-box {
  background-color: #bdc3c7;
  margin: 8px;
  padding: 10px 35px;
  border-radius: 12px;
  box-shadow: black 1px 3px 3px;
}

.label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

#time,
#errors,
#accuracy,
#wpm {
  font-size: 2.75rem;
}

#type-text {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: black 1px 3px 3px;
}

#textarea {
  background-color: #bdc3c7;
  width: 100%;
  border-radius: 12px;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  border: 0;
  box-shadow: black 1px 3px 3px;
  resize: vertical;
}

.incorrect-char {
  color: red;
  text-decoration: underline;
}

.correct-char {
  color: green;
}
